*{
    margin: 0;
    padding: 0;
}
.main{
width: 100%;
background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(index6.jpg);
background-position: center;
background-size: cover;
height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:#F9FAF8;
    font-size: 30px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
#menuItems{
    width: 400px;
    float: left;
    height: 70px;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #F9FAF8;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: blueviolet;
}
.search{
    width: 330px;
    float: left;
    margin-left: 570px;
    
}
.src{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #F9FAF8;
    margin-top: 3px;
    color: #F9FAF8;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}
.btn{
    width: 100px;
    height: 40px;
    background: #F9FAF8;
    border: 2px solid #F9FAF8;
    margin-top: 3px;
    color: red;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.src:focus{
    outline: none;
}
.btn:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: 70px;
    color: #F9FAF8;
    position:absolute;
}
.content .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content .h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}
.content .jn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
h1{
    padding-left: 20px;

}
.content .cn .a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.jn:hover{
    background-color: #F9FAF8;
}
.content span{
    color: #ff7200;
    font-size: 35px;
}
.form{
    width: 250px;
    height: 320px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 100px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 180px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 24px;
    
   
}
.form input{
    width: 230px;
    height: 40px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}

.btn a{
    text-decoration: none;
    color: #0002
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 10px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
 p{
    color: #F9FAF8;
    
}
a{
    color: red;
    text-decoration: none;
    text-decoration-style: solid;
}




